.git
.gitignore

backend/.venv
backend/**/__pycache__
backend/**/*.pyc
backend/.pytest_cache

frontend/node_modules
frontend/dist

.env.dev
.env.prod
backend/.env
frontend/.env
frontend/.env.development
frontend/.env.production

.vscode
.idea