.gif {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

:fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

:fullscreen .gif {
  width: 50vw;
  height: 50vw;
  object-fit: contain;
}
