.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 5px;
  padding-bottom: 5px;

  .add-button,
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    padding: 0;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.65);

    cursor: pointer;
    font-size: 24px;
    box-sizing: border-box;
  }
}
